/*Schrijf hier jouw CSS*/
body {
    display: flex;;
    min-height: 100vh;
}

nav {
    flex: 0 0 300px;
}

div {
    display: flex;
    flex-direction: column;
    flex: 1 1 100vh;
}

header {
    flex: 0 0 150px;
}

main {
    display: flex;
    flex: 1 1 auto;
}

aside {
    flex: 0 0 300px;
}

article {
    flex: 1 1 auto;
}

footer {
    flex: 0 0 150px;
}